/* Border for light theme */

.pylifemap-map {
    border: 1px solid #ccc;
}

/* Legend */

.lifemap-legend {
    padding: 10px 25px 10px 25px;
    border-radius: 10px;
    width: auto;
    right: 10px;
    bottom: 10px;
    cursor: default;
}

.lifemap-legend .legend-title {
    font-size: 11px;
    font-weight: bold;
    font-family: system-ui, sans-serif;
}

.lifemap-ol-cat-legend-swatch {
    padding-top: 3px;
}

.pylifemap-map.dark .lifemap-legend {
    background-color: rgba(255, 255, 255, 0.9);
}

.pylifemap-map.light .lifemap-legend {
    background-color: rgba(230, 230, 230, 0.9);
}

/* Popup */

#lifemap-popup {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 12px;
    background-color: #fff;
    color: #000;
    font-size: 12px;
    padding: 12px 22px 12px 12px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border: 1px solid #333;
    border-radius: 10px;
    width: max-content;
    min-width: 250px;
    cursor: default;
}

#lifemap-popup:after {
    position: absolute;
    z-index: -1;
    content: "";
    right: calc(50% - 10px);
    bottom: -9px;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #fff transparent transparent transparent;
}

#lifemap-popup-closer {
    position: absolute;
    top: 4px;
    right: 10px;
}

#lifemap-popup-closer a {
    text-decoration: none;
    color: auto;
}

#lifemap-popup h2 {
    font-weight: 700;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#lifemap-popup h2 span {
    font-size: 12px;
}

#lifemap-popup table {
    margin-top: 8px;
    border: none;
}

#lifemap-popup table td {
    padding: 2px 4px;
    line-height: 13px;
}

#lifemap-popup table .right {
    text-align: right;
}

/* Misc */

.ol-layer canvas {
    cursor: default !important;
}

.ol-overlaycontainer,
.ol-overlaycontainer-stopevent {
    z-index: 10 !important;
}

/* Loading spinner */

@keyframes spinner-rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.lifemap-spinner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.lifemap-spinner:after {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -24px;
    margin-left: -24px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    border: 5px solid #fff;
    border-bottom-color: #ff3d00;
    animation: spinner-rotation 1s linear infinite;
}

/* Controls */

.pylifemap-control {
    position: absolute;
    left: 0.5em;
}
.pylifemap-control button svg {
    margin: 3px;
}

.ol-control {
    cursor: default;
    background-color: #ccc;
}

.ol-control button {
    cursor: pointer;
}

/* Attribution */

.pylifemap-map .ol-attribution.ol-uncollapsible {
    bottom: 0;
    right: auto;
    left: 0;
    border-radius: 0 4px 0 0;
}

.pylifemap-map.dark .ol-attribution.ol-uncollapsible {
    background-color: rgba(255, 255, 255, 0.8);
}

.pylifemap-map.light .ol-attribution.ol-uncollapsible {
    background-color: rgba(240, 240, 240, 0.75);
}
