/data/raw/
/data/phylopic_icons/

/notebooks/work/

/src/pylifemap/static/

/doc/_site
/doc/_freeze
/doc/_sidebar.yml

*.html

.venv/
__pycache__/
__marimo__/
.virtual_documents/
.jupyter_cache/
.ipynb_checkpoints/
node_modules/
dist/

.vscode/
.zed/
