@import url("ol.css");
@import url("../../packages/lifemapjs/css/lifemap.css");

/*
.pylifemap-map {
    height: 600px;
}
*/

.pylifemap-map .lifemap-legend {
    color: black;
}

/* VSCode workarounds */
.cell-output-ipywidget-background:has(.p-Widget):has(.pylifemap-map) {
    background-color: transparent !important;
}
