project:
    type: website

execute:
    freeze: auto

website:
    title: "pylifemap"
    site-url: "https://lifemap-tol.github.io/pylifemap"
    favicon: favicon.png
    repo-url: https://github.com/Lifemap-ToL/pylifemap/
    repo-subdir: "doc"
    repo-actions: [issue]
    search:
        location: navbar
        type: overlay
    navbar:
        foreground: "#FFF"
        background: "#333"
        pinned: true
        left:
            - getting_started.qmd
            - usage.qmd
            - large_datasets.qmd
            - gallery/gallery.qmd
            - text: "Layers"
              menu:
                  - layers/layer_points.qmd
                  - layers/layer_lines.qmd
                  - layers/layer_donuts.qmd
                  - layers/layer_heatmap.qmd
                  - layers/layer_heatmap_deck.qmd
                  - layers/layer_screengrid.qmd
                  - layers/layer_text.qmd
                  - layers/layer_icons.qmd
            - reference/index.qmd
            - text: "Development"
              menu:
                  - changelog.md
                  - development.qmd
        tools:
            - icon: github
              href: https://github.com/Lifemap-ToL/pylifemap/

metadata-files:
    - _quartodoc_sidebar.yml

quartodoc:
    title: Reference
    style: pkgdown
    package: pylifemap
    sidebar: _sidebar.yml
    parser: numpy
    dynamic: true
    render_interlinks: true
    renderer:
        style: markdown
        display_name: name
    options:
        include_functions: true
        children: linked
    sections:
        - title: Visualization
          desc: ""
          contents:
              - name: Lifemap
                members:
                    [
                        "layer_points",
                        "layer_lines",
                        "layer_donuts",
                        "layer_heatmap",
                        "layer_heatmap_deck",
                        "layer_screengrid",
                        "layer_text",
                        "layer_icons",
                        "show",
                        "save",
                    ]
              - Lifemap.layer_points
              - Lifemap.layer_lines
              - Lifemap.layer_donuts
              - Lifemap.layer_heatmap
              - Lifemap.layer_heatmap_deck
              - Lifemap.layer_screengrid
              - Lifemap.layer_text
              - Lifemap.layer_icons
              - Lifemap.show
              - Lifemap.save
        - title: Data aggregation
          desc: Functions to aggregate data along the branches of the lifemap tree.
          contents:
              - name: aggregate_count
                dynamic: false
              - name: aggregate_num
                dynamic: false
              - name: aggregate_freq
                dynamic: false
        - title: Data utilities
          desc: Functions to help with user data handling
          contents:
              - get_unknown_taxids
              - get_duplicated_taxids

filters:
    - interlinks

interlinks:
    sources:
        python:
            url: https://docs.python.org/3/

format:
    html:
        theme:
            light: [flatly, custom.scss]
            dark: [superhero, custom.scss]
        mainfont: "Source Sans 3, Source Sans Pro, Segoe UI, Roboto, Helvetica, sans-serif"
        monofont: "SFMono-Regular, Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace"
        linkcolor: "#337AB7"
        toc: true
        highlight-style: arrow
        grid:
            body-width: 900px
            gutter-width: 3rem
        html-table-processing: none
