/*-- scss:defaults --*/

$toc-color: #337AB7;
$toc-active-border: #337AB7;
$code-color: #C7254E;
$dropdown-link-color: #333;

/*-- scss:rules --*/


/* Sidebar */

.sidebar-item-section {
    padding-top: 1rem;
}

.sidebar-item-container .text-start {
    font-weight: 600;
}

#TOC {
    margin-top: 2em;
}


/* General styles */

a:hover {
    color: #67a9df;
    text-decoration: none;
}


/* Tables */

table.table {
    width: auto;
    margin: 1rem 0;
}

.table th,
.table td {
    padding: 0.25rem 1rem;
}


/* Headings */

.quarto-title {
    margin: 1.5em 0 1em 0;
}

h1.title,
h1.doc {
    font-size: 2.5rem;
}

h2 {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    border-bottom: none;
}

h1 code,
h2 code,
h3 code,
h4 code {
    color: #6f6f6f;
}

/* Callouts */

div.callout-note.callout-style-default>.callout-header {
    background-color: #e9f2fc;
}

div.callout-note.callout {
    border-left-color: #2780e3;
}


/* Source code */

div.sourceCode {
    margin: 1em 0 2em 0;
}


pre.sourceCode {
    code.sourceCode {
        overflow: auto;
    }
}

.cell-output {

    &>p>img,
    &>p>svg,
    .figure {
        display: block;
        margin: 0 auto 3em auto;
    }

    .figure {
        width: fit-content
    }
}


/* quartodoc */

td:first-child {
    text-wrap: nowrap;
    text-size-adjust: 100%;
}


/* Gallery styles (Damien) */

.quarto-listing-category-title {
  font-size: .875rem !important;
  font-weight: 500 !important;
  margin-bottom: .2rem;
  margin-top: 34px;
  font-family: inherit;
  border-bottom: 0;
  padding-bottom: 0;
  padding-top: 0px;  
}

.quarto-listing-category {
  font-family: "Source Sans 3", "Source Sans Pro", "Segoe UI", Roboto, Helvetica, sans-serif !important;
  font-size: 14.875px !important;
  font-weight: 400;
  line-height: 1.1rem;
  padding-left: 17.850px !important;
}

.category {
  padding-bottom: .2rem;
  padding-top: .2rem;
}