/*-- scss:defaults --*/

$toc-color: #337AB7;
$toc-active-border: #337AB7;
$code-color: #C7254E;

/*-- scss:rules --*/


/* Sidebar */

.sidebar-item-section {
    padding-top: 1rem;
}

.sidebar-item-container .text-start {
    font-weight: 600;
}

#TOC {
    margin-top: 2em;
}


/* General styles */

a:hover {
    color: #67a9df;
    text-decoration: none;
}

.table {
    width: auto;
}

.table th,
.table td {
    padding: 0.25rem 1rem;
}

/* Headings */

.quarto-title {
    margin: 1.5em 0 1em 0;
}

h1.title,
h1.doc {
    font-size: 2.5rem;
}

h2 {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    border-bottom: none;
}

/* Source code */

div.sourceCode {
    margin: 1em 0 2em 0;
}


pre.sourceCode {
    code.sourceCode {
        overflow: auto;
    }
}

.cell-output {

    &>p>img,
    &>p>svg,
    .figure {
        display: block;
        margin: 0 auto 3em auto;
    }

    .figure {
        width: fit-content
    }
}


/* quartodoc */

td:first-child {
    text-wrap: nowrap;
    text-size-adjust: 100%;
}