.pylifemap-map {
    --pylifemap-font-family:
        "Segoe UI", Roboto, Ubuntu, "Open Sans", "Helvetica Neue", sans-serif;
    --pylifemap-dialog-bg-light: #ffffffdd;
    --pylifemap-dialog-bg-dark: #ffffffdd;
    --pylifemap-dialog-border-light: 1px solid #b2b2b2;
    --pylifemap-dialog-border-dark: 1px solid #b2b2b2;
}

.pylifemap-map {
    font-family: var(--pylifemap-font-family);
}

/* Legend */

.lifemap-legend {
    padding: 10px 25px 10px 25px;
    border-radius: 10px;
    width: auto;
    right: 10px;
    bottom: 20px;
    cursor: default;
    color: #000;
    backdrop-filter: blur(3px);

    .legend-title {
        font-size: 11px;
        font-weight: bold;
        font-family: system-ui, sans-serif;
    }

    .lifemap-ol-cat-legend-swatch {
        padding-top: 3px;
    }
}

/* Popup */

#lifemap-popup {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 12px;
    background-color: #ffffffee;
    color: #000;
    font-size: 12px;
    padding: 14px 30px 14px 14px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border: 1px solid #333;
    border-radius: 10px;
    width: max-content;
    min-width: 100px;
    cursor: default;
    backdrop-filter: blur(3px);

    &:after {
        position: absolute;
        z-index: -1;
        content: "";
        right: calc(50% - 10px);
        bottom: -9px;
        border-style: solid;
        border-width: 10px 10px 0 10px;
        border-color: #fff transparent transparent transparent;
    }

    #lifemap-popup-closer {
        position: absolute;
        top: 4px;
        right: 10px;

        a {
            text-decoration: none;
            color: #666;
        }
    }
    h2 {
        font-weight: 700;
        font-size: 14px;
        margin-top: 0px !important;
        margin-bottom: 0px;
        span {
            font-size: 13px;
            a {
                font-weight: 400;
                color: #479eba;
                text-decoration: underline;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
    table {
        margin-top: 8px;
        border: none;
        border-collapse: collapse;
        td {
            padding: 2px 4px;
            font-size: 12px;
            line-height: 13px;
        }
        .right {
            text-align: right;
        }
    }
}

/* Misc */

.ol-layer canvas {
    cursor: default !important;
}

.ol-overlaycontainer,
.ol-overlaycontainer-stopevent {
    z-index: 10 !important;
}

/* Loading spinner */

@keyframes spinner-rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.lifemap-spinner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);

    &:after {
        content: "";
        display: inline-block;
        box-sizing: border-box;
        position: absolute;
        top: 45%;
        left: 50%;
        margin-top: -24px;
        margin-left: -24px;
        border-radius: 50%;
        width: 48px;
        height: 48px;
        border: 5px solid #fff;
        border-bottom-color: #ff3d00;
        animation: spinner-rotation 1s linear infinite;
    }
    p {
        position: absolute;
        top: calc(45% + 30px);
        left: 50%;
        transform: translateX(-50%);
        font-size: 14px;
        color: #fff;
    }
}

/* Lazy Loading spinner */

.lifemap-lazyspinner {
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 22px;
    height: 22px;

    :after {
        content: "";
        display: inline-block;
        box-sizing: border-box;
        position: absolute;
        top: 3px;
        left: 3px;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        animation: spinner-rotation 0.8s linear infinite;
    }
}

/* Error */

.lifemap-error {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 15;
    padding: 2rem;
    p {
        color: #fff;
    }
}

/* Search */

.lifemap-search {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    dialog {
        width: 15rem;
        height: auto;
        z-index: 15;
        padding: 0;
        margin: 0 0 0 1.9em;
        background-color: transparent;
        border: none;
        input {
            width: 100%;
            padding: 3px 5px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-family: var(--pylifemap-font-family);
            font-size: 14px;
            background-color: #fff;
            color: #000;
            margin-bottom: 3px;
        }
        .error {
            width: 100%;
            display: none;
            margin-top: 0;
            padding: 5px 8px;
            background-color: #d00;
            color: #333;
            font-size: 14px;
        }
        .suggestions {
            width: 100%;
            display: none;
            margin-top: 0;
            padding: 0;
            color: #333;
            font-size: 13px;
            max-height: 20rem;
            overflow-y: auto;
            .suggestion {
                width: auto;
                padding: 5px 8px;
                cursor: pointer;
                backdrop-filter: blur(3px);
                span {
                    font-style: italic;
                    font-size: 14px;
                }
                &:hover {
                    background-color: #eeeeeedd;
                }
            }
        }
    }
}

/* Settings */

.lifemap-settings {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    dialog {
        width: 15rem;
        height: auto;
        z-index: 15;
        padding: 0;
        margin: 0 0 0 1.9em;
        max-height: 20rem;
        overflow-y: auto;
        backdrop-filter: blur(3px);

        form {
            margin: 0;

            div {
                font-size: 14px;
                color: #333;
                padding: 5px 8px;
                display: flex;
                justify-content: flex-start;
                align-items: baseline;
                gap: 4px;

                select {
                    color: #333;
                    background-color: #eaeaea;
                }
            }
        }
    }
}

/* Export */

.export {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    dialog {
        width: 15rem;
        height: auto;
        z-index: 15;
        padding: 0;
        margin: 0 0 0 1.9em;
        max-height: 20rem;
        overflow-y: auto;
        backdrop-filter: blur(3px);

        div {
            margin: 0;
            font-size: 14px;
            color: #333;
            padding: 5px 8px;
            cursor: pointer;

            &:hover {
                background-color: #eeeeeedd;
            }
        }
    }
}

/* Controls */

.pylifemap-control {
    position: absolute;
    left: 0.5em;
    button {
        padding: 3px;
    }
    button.selected {
        background-color: #ddd;
        padding: 4px 2px 2px 4px;
    }
}

.ol-control {
    cursor: default;
    background-color: #ccc;
    button {
        width: 1.6em;
        height: 1.6em;
        cursor: pointer;
    }
}

/* Disable bigger controls on mobile */
.pylifemap-map .ol-touch .ol-control button {
    font-size: inherit;
}

/* Attribution */

.pylifemap-map .ol-attribution.ol-uncollapsible {
    bottom: 0;
    right: auto;
    left: 0;
    border-radius: 0 4px 0 0;
    backdrop-filter: blur(3px);
}

/* VSCode workarounds */
.cell-output-ipywidget-background:has(.p-Widget):has(.pylifemap-map) {
    background-color: transparent !important;
}

/* THEMES */

/* Light theme */

.pylifemap-map.light {
    border: 1px solid #ccc;

    .lifemap-legend {
        background-color: rgba(230, 230, 230, 0.9);
    }

    .lifemap-settings {
        dialog {
            background-color: var(--pylifemap-dialog-bg-light);
            border: var(--pylifemap-dialog-border-light);
            form div {
                border-bottom: var(--pylifemap-dialog-border-light);
                &:last-of-type {
                    border-bottom: none;
                }
            }
        }
    }

    .export {
        dialog {
            background-color: var(--pylifemap-dialog-bg-light);
            border: var(--pylifemap-dialog-border-light);
        }
    }

    .lifemap-search dialog .suggestions {
        background-color: var(--pylifemap-dialog-bg-light);
        border: var(--pylifemap-dialog-border-light);

        .suggestion {
            border-bottom: var(--pylifemap-dialog-border-light);
            &:last-of-type {
                border-bottom: none;
            }
        }
    }

    .lifemap-lazyspinner {
        background-color: rgba(255, 255, 255, 0.6);
        &:after {
            border: 3px solid #444;
            border-bottom-color: transparent;
        }
    }

    .ol-attribution.ol-uncollapsible {
        background-color: rgba(240, 240, 240, 0.75);
    }
}

/* Dark theme */

.pylifemap-map.dark {
    border: 1px solid #555;

    .lifemap-legend {
        background-color: rgba(255, 255, 255, 0.9);
    }

    .lifemap-settings {
        dialog {
            background-color: var(--pylifemap-dialog-bg-dark);
            border: var(--pylifemap-dialog-border-dark);
            form div {
                border-bottom: var(--pylifemap-dialog-border-light);
                &:last-of-type {
                    border-bottom: none;
                }
            }
        }
    }

    .export {
        dialog {
            background-color: var(--pylifemap-dialog-bg-dark);
            border: var(--pylifemap-dialog-border-dark);
        }
    }

    .lifemap-search dialog .suggestions {
        background-color: var(--pylifemap-dialog-bg-dark);
        border: var(--pylifemap-dialog-border-dark);

        .suggestion {
            border-bottom: var(--pylifemap-dialog-border-dark);
            &:last-of-type {
                border-bottom: none;
            }
        }
    }

    .lifemap-lazyspinner {
        background-color: rgba(0, 0, 0, 0.6);
        &:after {
            border: 3px solid #fff;
            border-bottom-color: transparent;
        }
    }

    .ol-attribution.ol-uncollapsible {
        background-color: rgba(255, 255, 255, 0.8);
    }
}
