@import url("ol.css");

.pylifemap-map {
    font-family:
        "Source Sans 3", "Segoe UI", Roboto, Ubuntu, "Open Sans", "Helvetica Neue",
        sans-serif;
}

/* Global border */

.pylifemap-map.light {
    border: 1px solid #ccc;
}

.pylifemap-map.dark {
    border: 1px solid #555;
}

/* Legend */

.lifemap-legend {
    padding: 10px 25px 10px 25px;
    border-radius: 10px;
    width: auto;
    right: 10px;
    bottom: 20px;
    cursor: default;
    color: #000;
}

.lifemap-legend .legend-title {
    font-size: 11px;
    font-weight: bold;
    font-family: system-ui, sans-serif;
}

.lifemap-ol-cat-legend-swatch {
    padding-top: 3px;
}

.pylifemap-map.dark .lifemap-legend {
    background-color: rgba(255, 255, 255, 0.9);
}

.pylifemap-map.light .lifemap-legend {
    background-color: rgba(230, 230, 230, 0.9);
}

/* Popup */

#lifemap-popup {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 12px;
    background-color: #fff;
    color: #000;
    font-size: 12px;
    padding: 14px 30px 14px 14px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border: 1px solid #333;
    border-radius: 10px;
    width: max-content;
    min-width: 100px;
    cursor: default;
}

#lifemap-popup:after {
    position: absolute;
    z-index: -1;
    content: "";
    right: calc(50% - 10px);
    bottom: -9px;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #fff transparent transparent transparent;
}

#lifemap-popup-closer {
    position: absolute;
    top: 4px;
    right: 10px;
}

#lifemap-popup-closer a {
    text-decoration: none;
    color: auto;
}

#lifemap-popup h2 {
    font-weight: 700;
    font-size: 14px;
    margin-top: 0px !important;
    margin-bottom: 0px;
}

#lifemap-popup h2 span {
    font-size: 13px;
}

#lifemap-popup h2 span a {
    font-weight: 400;
    color: #479eba;
    text-decoration: underline;
}

#lifemap-popup h2 span a:hover {
    text-decoration: none;
}

#lifemap-popup table {
    margin-top: 8px;
    border: none;
}

#lifemap-popup table td {
    padding: 2px 4px;
    line-height: 13px;
}

#lifemap-popup table .right {
    text-align: right;
}

/* Misc */

.ol-layer canvas {
    cursor: default !important;
}

.ol-overlaycontainer,
.ol-overlaycontainer-stopevent {
    z-index: 10 !important;
}

/* Loading spinner */

@keyframes spinner-rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.lifemap-spinner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.lifemap-spinner:after {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    top: 45%;
    left: 50%;
    margin-top: -24px;
    margin-left: -24px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    border: 5px solid #fff;
    border-bottom-color: #ff3d00;
    animation: spinner-rotation 1s linear infinite;
}

.lifemap-spinner p {
    position: absolute;
    top: calc(45% + 30px);
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    color: #fff;
}

/* Lazy Loading spinner */

.lifemap-lazyspinner {
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 22px;
    height: 22px;
    background-color: rgba(0, 0, 0, 0.6);
}

.lifemap-lazyspinner:after {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 3px solid #fff;
    border-bottom-color: transparent;
    animation: spinner-rotation 0.8s linear infinite;
}

/* Error */

.lifemap-error {
    display: none;
    position: absolute;
    top: 60;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 15;
    padding: 2rem;
}

.lifemap-error p {
    color: #fff;
}

/* Search */

.lifemap-search {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.lifemap-search dialog {
    width: 15rem;
    height: auto;
    z-index: 15;
    padding: 0;
    margin: 0 0 0 1.9em;
    background-color: transparent;
    border: none;
}

.lifemap-search dialog input {
    width: 100%;
    padding: 3px 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: "Segoe UI", Roboto, Ubuntu, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    background-color: #fff;
    color: #000;
    margin-bottom: 3px;
}

.lifemap-search dialog .error {
    width: 100%;
    display: none;
    margin-top: 0;
    padding: 5px 8px;
    background-color: #d00;
    color: #fff;
    font-size: 14px;
}

.lifemap-search dialog .suggestions {
    width: 100%;
    display: none;
    margin-top: 0;
    padding: 0;
    background-color: #442244cc;
    border-top: 1px solid white;
    color: #fff;
    font-size: 13px;
    max-height: 20rem;
    overflow-y: auto;
}

.lifemap-search dialog .suggestions .suggestion {
    width: auto;
    padding: 5px 8px;
    border-bottom: 1px solid white;
    cursor: pointer;
}

.lifemap-search dialog .suggestions .suggestion:hover {
    background-color: #444;
}

.lifemap-search dialog .suggestions .suggestion span {
    font-style: italic;
    font-size: 14px;
}

/* Controls */

.ol-control button {
    width: 1.6em;
    height: 1.6em;
}

.pylifemap-control {
    position: absolute;
    left: 0.5em;
}

.pylifemap-control button {
    padding: 3px;
}

.pylifemap-control button.selected {
    background-color: #ddd;
    padding: 4px 2px 2px 4px;
}

.ol-control {
    cursor: default;
    background-color: #ccc;
}

.ol-control button {
    cursor: pointer;
}

/* Disable bigger controls on mobile */
.pylifemap-map .ol-touch .ol-control button {
    font-size: inherit;
}

/* Attribution */

.pylifemap-map .ol-attribution.ol-uncollapsible {
    bottom: 0;
    right: auto;
    left: 0;
    border-radius: 0 4px 0 0;
}

.pylifemap-map.dark .ol-attribution.ol-uncollapsible {
    background-color: rgba(255, 255, 255, 0.8);
}

.pylifemap-map.light .ol-attribution.ol-uncollapsible {
    background-color: rgba(240, 240, 240, 0.75);
}

/* VSCode workarounds */
.cell-output-ipywidget-background:has(.p-Widget):has(.pylifemap-map) {
    background-color: transparent !important;
}
