name: JS and CSS bundle

on:
    push:
        branches: [main]

jobs:
    bundle:
        runs-on: ubuntu-latest
        permissions:
            contents: write
        steps:
            - name: Check out repository
              uses: actions/checkout@v4

            - name: Setup node
              uses: actions/setup-node@v4
              with:
                  node-version: 22
                  cache: "npm"

            - name: Install node dependencies
              run: npm install --workspaces --include-workspace-root

            - name: Bundle
              run: npm run bundle

            - name: Temporarily remove .gitignore rule
              run: |
                  # Remove the line matching '/src/pylifemap/static' from .gitignore
                  # to allow check for changes
                  sed -i '/\/src\/pylifemap\/static\//d' .gitignore

            - name: Check for changes
              id: check_changes
              run: |
                  if [ -n "$(git status --porcelain src/pylifemap/static)" ]; then
                    echo "changes=true" >> $GITHUB_OUTPUT
                  else
                    echo "changes=false" >> $GITHUB_OUTPUT
                  fi

            - name: Commit and push changes
              if: steps.check_changes.outputs.changes == 'true'
              run: |
                  git config --global user.name "GitHub Actions"
                  git config --global user.email "actions@github.com"
                  git add -f src/pylifemap/static
                  git commit --force -m "build[ci]: update js and css bundle"
                  git push
