name: Documentation

on:
    push:
        branches: [main]

jobs:
    build-deploy-pages:
        runs-on: ubuntu-latest
        permissions:
            contents: write
        steps:
            - name: Check out repository
              uses: actions/checkout@v6

            - name: Setup node
              uses: actions/setup-node@v6
              with:
                  node-version: 22
                  cache: "npm"

            - name: Install node dependencies
              run: npm ci

            - name: Bundle
              run: npm run bundle

            - name: Set up Quarto
              uses: quarto-dev/quarto-actions/setup@v2

            - name: Install uv
              uses: astral-sh/setup-uv@v7

            - name: Set up Python and dependencies
              run: uv sync --all-extras --dev

            - name: Render and Publish
              shell: bash
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: |
                  git config --global user.email "julien.barnier@cnrs.fr"
                  git config --global user.name "Julien Barnier"
                  npm run doc
                  uv run quarto publish deploy-pages doc
