on:
    workflow_dispatch:
    workflow_run:
        workflows: ["bundle"] # Run after bundle has run
        types: [completed]
        branches:
            - "main"

name: Documentation

jobs:
    build-deploy-pages:
        runs-on: ubuntu-latest
        if: ${{ github.event.workflow_run.conclusion == 'success' }}
        permissions:
            contents: write
        steps:
            - name: Check out repository
              uses: actions/checkout@v4

            - name: Setup node
              uses: actions/setup-node@v4
              with:
                  node-version: 22
                  cache: "npm"

            - name: Install node dependencies
              run: npm install --workspaces --include-workspace-root

            - name: Set up Quarto
              uses: quarto-dev/quarto-actions/setup@v2

            - name: Install uv
              uses: astral-sh/setup-uv@v4

            - name: Set up Python
              run: uv python install

            - name: Render and Publish
              shell: bash
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: |
                  git config --global user.email "julien.barnier@cnrs.fr"
                  git config --global user.name "Julien Barnier"
                  npm run doc
                  uv run quarto publish gh-pages doc
