on:
    workflow_dispatch:
    workflow_run:
        workflows: ["Build and deploy to dev branch"] # Run after bundle has run
        types:
            - completed

name: Tests

jobs:
    python-tests:
        runs-on: ubuntu-latest
        if: ${{ github.event.workflow_run.conclusion == 'success' }}

        strategy:
            matrix:
                python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]

        steps:
            - name: Check out pylifemap repository
              uses: actions/checkout@v4
              with:
                  ref: "dev"

            - name: Install uv
              uses: astral-sh/setup-uv@v4

            - name: Set up Python ${{ matrix.python-version }}
              run: uv python install ${{ matrix.python-version }}

            - name: Install the project
              run: uv sync --all-extras --dev

            - name: Run pytest
              run: uv run pytest
