on:
    workflow_dispatch:
    push:
        branches: [main]

name: Tests

jobs:
    Python-tests:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]

        steps:
            - name: Check out pylifemap repository
              uses: actions/checkout@v4

            - name: Setup node
              uses: actions/setup-node@v4
              with:
                  node-version: 20
                  cache: "npm"

            - name: Install node dependencies
              run: npm install --workspaces --include-workspace-root

            - name: Install uv
              uses: astral-sh/setup-uv@v4

            - name: Set up Python ${{ matrix.python-version }}
              run: uv python install ${{ matrix.python-version }}

            - name: Install the project
              run: uv sync --all-extras --dev

            - name: Run pytest
              run: uv run pytest
